(
    inf: (
        tracks: [
            Some((0, (
                start_node: (((0, 0)), (
                    dir: Up,
                    course: None,
                )),
                end_node: (((2, 0)), (
                    dir: Down,
                    course: None,
                )),
            ))),
            Some((0, (
                start_node: (((4, 0)), (
                    dir: Up,
                    course: None,
                )),
                end_node: (((1, 0)), (
                    dir: Down,
                    course: None,
                )),
            ))),
            Some((0, (
                start_node: (((2, 0)), (
                    dir: Up,
                    course: Some(Left),
                )),
                end_node: (((4, 0)), (
                    dir: Down,
                    course: Some(Right),
                )),
            ))),
            Some((0, (
                start_node: (((2, 0)), (
                    dir: Up,
                    course: Some(Right),
                )),
                end_node: (((4, 0)), (
                    dir: Down,
                    course: Some(Left),
                )),
            ))),
            None,
            None,
            None,
            None,
        ],
        nodes: [
            Some((0, (0, Macro(None)))),
            Some((0, (5600, Macro(None)))),
            Some((0, (140.75362, Switch(Up, Left)))),
            None,
            Some((0, (438.20483, Switch(Down, Right)))),
            None,
            None,
            None,
        ],
        objects: [
            Some((0, (((0, 0)), 118.853615, Detector))),
            Some((0, (((2, 0)), 190.75362, Detector))),
            Some((0, (((3, 0)), 162.65363, Detector))),
            Some((0, (((2, 0)), 340.7536, Detector))),
            Some((0, (((3, 0)), 394.4048, Detector))),
            Some((0, (((1, 0)), 5445.732, Detector))),
            Some((0, (((3, 0)), 416.3048, Signal(Up)))),
            Some((0, (((3, 0)), 416.3048, Detector))),
            Some((0, (((2, 0)), 388.20483, Detector))),
            Some((0, (((3, 0)), 372.5047, Detector))),
            Some((0, (((2, 0)), 238.20483, Detector))),
            Some((0, (((1, 0)), 5423.8286, Signal(Up)))),
            Some((0, (((1, 0)), 5423.8286, Detector))),
            Some((0, (((1, 0)), 5267.4663, Signal(Up)))),
            Some((0, (((1, 0)), 5267.4663, Detector))),
            Some((0, (((1, 0)), 5109.926, Signal(Up)))),
            Some((0, (((1, 0)), 5109.926, Detector))),
            Some((0, (((0, 0)), 96.9536, Signal(Up)))),
            Some((0, (((0, 0)), 96.9536, Detector))),
            Some((0, (((1, 0)), 4950.997, Signal(Up)))),
            Some((0, (((1, 0)), 4950.997, Detector))),
            Some((0, (((1, 0)), 4790.3374, Signal(Up)))),
            Some((0, (((1, 0)), 4790.3374, Detector))),
            Some((0, (((1, 0)), 4629.612, Signal(Up)))),
            Some((0, (((1, 0)), 4629.612, Detector))),
            Some((0, (((1, 0)), 4467.182, Signal(Up)))),
            Some((0, (((1, 0)), 4467.182, Detector))),
            Some((0, (((1, 0)), 4304.878, Signal(Up)))),
            Some((0, (((1, 0)), 4304.878, Detector))),
            Some((0, (((1, 0)), 4139.9487, Signal(Up)))),
            Some((0, (((1, 0)), 4139.9487, Detector))),
            Some((0, (((1, 0)), 3975.269, Signal(Up)))),
            Some((0, (((1, 0)), 3975.269, Detector))),
            Some((0, (((1, 0)), 3807.0605, Signal(Up)))),
            Some((0, (((1, 0)), 3807.0605, Detector))),
            Some((0, (((1, 0)), 3635.321, Signal(Up)))),
            Some((0, (((1, 0)), 3635.321, Detector))),
            Some((0, (((1, 0)), 3465.4595, Signal(Up)))),
            Some((0, (((1, 0)), 3465.4595, Detector))),
            Some((0, (((1, 0)), 3292.1143, Signal(Up)))),
            Some((0, (((1, 0)), 3292.1143, Detector))),
            Some((0, (((1, 0)), 3116.314, Signal(Up)))),
            Some((0, (((1, 0)), 3116.314, Detector))),
            Some((0, (((1, 0)), 2942.4202, Signal(Up)))),
            Some((0, (((1, 0)), 2942.4202, Detector))),
            Some((0, (((1, 0)), 2764.7722, Signal(Up)))),
            Some((0, (((1, 0)), 2764.7722, Detector))),
            Some((0, (((1, 0)), 2578.7988, Signal(Up)))),
            Some((0, (((1, 0)), 2578.7988, Detector))),
            Some((0, (((1, 0)), 2399.9307, Signal(Up)))),
            Some((0, (((1, 0)), 2399.9307, Detector))),
            Some((0, (((1, 0)), 2205.4177, Signal(Up)))),
            Some((0, (((1, 0)), 2205.4177, Detector))),
            Some((0, (((1, 0)), 2036.0781, Signal(Up)))),
            Some((0, (((1, 0)), 2036.0781, Detector))),
            Some((0, (((1, 0)), 1867.3188, Signal(Up)))),
            Some((0, (((1, 0)), 1867.3188, Detector))),
            Some((0, (((1, 0)), 1693.442, Signal(Up)))),
            Some((0, (((1, 0)), 1693.442, Detector))),
            Some((0, (((1, 0)), 1533.028, Signal(Up)))),
            Some((0, (((1, 0)), 1533.028, Detector))),
            Some((0, (((1, 0)), 1366.2163, Signal(Up)))),
            Some((0, (((1, 0)), 1366.2163, Detector))),
            Some((0, (((1, 0)), 1192.6782, Signal(Up)))),
            Some((0, (((1, 0)), 1192.6782, Detector))),
            Some((0, (((1, 0)), 1012.0668, Signal(Up)))),
            Some((0, (((1, 0)), 1012.0668, Detector))),
            Some((0, (((1, 0)), 824.0094, Signal(Up)))),
            Some((0, (((1, 0)), 824.0094, Detector))),
            Some((0, (((1, 0)), 683.79144, Signal(Up)))),
            Some((0, (((1, 0)), 683.79144, Detector))),
            Some((0, (((1, 0)), 460.20483, Signal(Up)))),
            Some((0, (((1, 0)), 460.20483, Detector))),
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
        ],
    ),
    schematic: Ok((
        lines: {
            ((2, 0)): [
                (1, 0),
                (2, 1),
                (3, 1),
                (4, 0),
            ],
            ((1, 0)): [
                (4, 0),
                (5, 0),
            ],
            ((0, 0)): [
                (0, 0),
                (1, 0),
            ],
            ((3, 0)): [
                (1, 0),
                (4, 0),
            ],
        },
        points: {
            ((4, 0)): (4, 0),
            ((2, 0)): (1, 0),
            ((0, 0)): (0, 0),
            ((1, 0)): (5, 0),
        },
        pos_map: [
            (0, ((0, 0)), 0),
            (1, ((2, 0)), 140.75362),
            (4, ((4, 0)), 438.20483),
            (5, ((1, 0)), 600),
        ],
    )),
    view: (
        viewport: ((2.6085357144474983, -0.42333168536424637), 7.514477655091702),
        selection: Entity(Node(((5, 0)))),
        hot_route: None,
        selected_scenario: Usage(0, Some(0)),
        canvas_context_menu_item: None,
    ),
    interlocking: (
        derive: Some((
        )),
    ),
    scenarios: [
        Usage((
            movements: [
                (
                    vehicle_ref: 0,
                    visits: [
                        (
                            nodes: [
                                Node(((0, 0))),
                            ],
                            time: None,
                        ),
                        (
                            nodes: [
                                Node(((1, 0))),
                            ],
                            time: None,
                        ),
                    ],
                ),
                (
                    vehicle_ref: 0,
                    visits: [
                        (
                            nodes: [
                                Node(((0, 0))),
                            ],
                            time: None,
                        ),
                        (
                            nodes: [
                                Node(((1, 0))),
                            ],
                            time: None,
                        ),
                    ],
                ),
            ],
            timings: [
                (
                    visit_a: (0, 0),
                    visit_b: (1, 0),
                    time: None,
                ),
                (
                    visit_a: (1, 1),
                    visit_b: (0, 1),
                    time: None,
                ),
            ],
        ), Err("No plans found.")),
    ],
    vehicles: [
        (
            name: "New vehicle",
            length: 110,
            max_accel: 1.05,
            max_brake: 0.95,
            max_velocity: 20,
        ),
    ],
)