(
    inf: (
        tracks: [
            Some((0, (
                start_node: (((0, 0)), (
                    dir: Up,
                    course: None,
                )),
                end_node: (((2, 0)), (
                    dir: Down,
                    course: None,
                )),
            ))),
            Some((0, (
                start_node: (((4, 0)), (
                    dir: Up,
                    course: None,
                )),
                end_node: (((1, 0)), (
                    dir: Down,
                    course: None,
                )),
            ))),
            Some((0, (
                start_node: (((2, 0)), (
                    dir: Up,
                    course: Some(Left),
                )),
                end_node: (((4, 0)), (
                    dir: Down,
                    course: Some(Right),
                )),
            ))),
            Some((0, (
                start_node: (((2, 0)), (
                    dir: Up,
                    course: Some(Right),
                )),
                end_node: (((4, 0)), (
                    dir: Down,
                    course: Some(Left),
                )),
            ))),
            None,
            None,
            None,
            None,
        ],
        nodes: [
            Some((0, (0, Macro(None)))),
            Some((0, (5600, Macro(None)))),
            Some((0, (140.75362, Switch(Up, Left)))),
            None,
            Some((0, (438.20483, Switch(Down, Right)))),
            None,
            None,
            None,
        ],
        objects: [
            Some((0, (((0, 0)), 118.853615, Detector))),
            Some((0, (((2, 0)), 190.75362, Detector))),
            Some((0, (((3, 0)), 162.65363, Detector))),
            Some((0, (((2, 0)), 340.7536, Detector))),
            Some((0, (((3, 0)), 394.4048, Detector))),
            Some((0, (((1, 0)), 5415.8267, Detector))),
            Some((0, (((3, 0)), 416.3048, Signal(Up)))),
            Some((0, (((3, 0)), 416.3048, Detector))),
            Some((0, (((2, 0)), 388.20483, Detector))),
            Some((0, (((3, 0)), 372.5047, Detector))),
            Some((0, (((2, 0)), 238.20483, Detector))),
            Some((0, (((1, 0)), 5393.9233, Signal(Up)))),
            Some((0, (((1, 0)), 5393.9233, Detector))),
            Some((0, (((1, 0)), 5207.1846, Signal(Up)))),
            Some((0, (((1, 0)), 5207.1846, Detector))),
            Some((0, (((1, 0)), 5019.0005, Signal(Up)))),
            Some((0, (((1, 0)), 5019.0005, Detector))),
            Some((0, (((0, 0)), 96.9536, Signal(Up)))),
            Some((0, (((0, 0)), 96.9536, Detector))),
            Some((0, (((1, 0)), 4829.1147, Signal(Up)))),
            Some((0, (((1, 0)), 4829.1147, Detector))),
            Some((0, (((1, 0)), 4637.1074, Signal(Up)))),
            Some((0, (((1, 0)), 4637.1074, Detector))),
            Some((0, (((1, 0)), 4445.0186, Signal(Up)))),
            Some((0, (((1, 0)), 4445.0186, Detector))),
            Some((0, (((1, 0)), 4250.8403, Signal(Up)))),
            Some((0, (((1, 0)), 4250.8403, Detector))),
            Some((0, (((1, 0)), 4056.8167, Signal(Up)))),
            Some((0, (((1, 0)), 4056.8167, Detector))),
            Some((0, (((1, 0)), 3859.5747, Signal(Up)))),
            Some((0, (((1, 0)), 3859.5747, Detector))),
            Some((0, (((1, 0)), 3662.6387, Signal(Up)))),
            Some((0, (((1, 0)), 3662.6387, Detector))),
            Some((0, (((1, 0)), 3461.3765, Signal(Up)))),
            Some((0, (((1, 0)), 3461.3765, Detector))),
            Some((0, (((1, 0)), 3255.7856, Signal(Up)))),
            Some((0, (((1, 0)), 3255.7856, Detector))),
            Some((0, (((1, 0)), 3052.4968, Signal(Up)))),
            Some((0, (((1, 0)), 3052.4968, Detector))),
            Some((0, (((1, 0)), 2844.9373, Signal(Up)))),
            Some((0, (((1, 0)), 2844.9373, Detector))),
            Some((0, (((1, 0)), 2634.3684, Signal(Up)))),
            Some((0, (((1, 0)), 2634.3684, Detector))),
            Some((0, (((1, 0)), 2426.1365, Signal(Up)))),
            Some((0, (((1, 0)), 2426.1365, Detector))),
            Some((0, (((1, 0)), 2213.302, Signal(Up)))),
            Some((0, (((1, 0)), 2213.302, Detector))),
            Some((0, (((1, 0)), 1990.2611, Signal(Up)))),
            Some((0, (((1, 0)), 1990.2611, Detector))),
            Some((0, (((1, 0)), 1775.9308, Signal(Up)))),
            Some((0, (((1, 0)), 1775.9308, Detector))),
            Some((0, (((1, 0)), 1542.4214, Signal(Up)))),
            Some((0, (((1, 0)), 1542.4214, Detector))),
            Some((0, (((1, 0)), 1339.7723, Signal(Up)))),
            Some((0, (((1, 0)), 1339.7723, Detector))),
            Some((0, (((1, 0)), 1137.835, Signal(Up)))),
            Some((0, (((1, 0)), 1137.835, Detector))),
            Some((0, (((1, 0)), 877.80536, Signal(Up)))),
            Some((0, (((1, 0)), 877.80536, Detector))),
            Some((0, (((1, 0)), 683.9756, Signal(Up)))),
            Some((0, (((1, 0)), 683.9756, Detector))),
            Some((0, (((1, 0)), 460.20483, Signal(Up)))),
            Some((0, (((1, 0)), 460.20483, Detector))),
            None,
        ],
    ),
    schematic: Ok((
        lines: {
            ((3, 0)): [
                (1, 0),
                (4, 0),
            ],
            ((0, 0)): [
                (0, 0),
                (1, 0),
            ],
            ((1, 0)): [
                (4, 0),
                (5, 0),
            ],
            ((2, 0)): [
                (1, 0),
                (2, 1),
                (3, 1),
                (4, 0),
            ],
        },
        points: {
            ((0, 0)): (0, 0),
            ((2, 0)): (1, 0),
            ((4, 0)): (4, 0),
            ((1, 0)): (5, 0),
        },
        pos_map: [
            (0, ((0, 0)), 0),
            (1, ((2, 0)), 140.75362),
            (4, ((4, 0)), 438.20483),
            (5, ((1, 0)), 600),
        ],
    )),
    view: (
        viewport: ((2.6085357144474983, -0.42333168536424637), 7.514477655091702),
        selection: Entity(Node(((5, 0)))),
        hot_route: None,
        selected_scenario: Usage(0, Some(0)),
        canvas_context_menu_item: None,
    ),
    interlocking: (
        derive: Some((
        )),
    ),
    scenarios: [
        Usage((
            movements: [
                (
                    vehicle_ref: 0,
                    visits: [
                        (
                            nodes: [
                                Node(((0, 0))),
                            ],
                            time: None,
                        ),
                        (
                            nodes: [
                                Node(((1, 0))),
                            ],
                            time: None,
                        ),
                    ],
                ),
                (
                    vehicle_ref: 0,
                    visits: [
                        (
                            nodes: [
                                Node(((0, 0))),
                            ],
                            time: None,
                        ),
                        (
                            nodes: [
                                Node(((1, 0))),
                            ],
                            time: None,
                        ),
                    ],
                ),
            ],
            timings: [
                (
                    visit_a: (0, 0),
                    visit_b: (1, 0),
                    time: None,
                ),
                (
                    visit_a: (1, 1),
                    visit_b: (0, 1),
                    time: None,
                ),
            ],
        ), Err("No plans found.")),
    ],
    vehicles: [
        (
            name: "New vehicle",
            length: 110,
            max_accel: 1.05,
            max_brake: 0.95,
            max_velocity: 20,
        ),
    ],
)