(
    inf: (
        tracks: [
            Some((0, (
                start_node: (((0, 0)), (
                    dir: Up,
                    course: None,
                )),
                end_node: (((2, 0)), (
                    dir: Down,
                    course: None,
                )),
            ))),
            Some((0, (
                start_node: (((4, 0)), (
                    dir: Up,
                    course: None,
                )),
                end_node: (((1, 0)), (
                    dir: Down,
                    course: None,
                )),
            ))),
            Some((0, (
                start_node: (((2, 0)), (
                    dir: Up,
                    course: Some(Left),
                )),
                end_node: (((4, 0)), (
                    dir: Down,
                    course: Some(Right),
                )),
            ))),
            Some((0, (
                start_node: (((2, 0)), (
                    dir: Up,
                    course: Some(Right),
                )),
                end_node: (((4, 0)), (
                    dir: Down,
                    course: Some(Left),
                )),
            ))),
            None,
            None,
            None,
            None,
        ],
        nodes: [
            Some((0, (0, Macro(None)))),
            Some((0, (5600, Macro(None)))),
            Some((0, (140.75362, Switch(Up, Left)))),
            None,
            Some((0, (438.20483, Switch(Down, Right)))),
            None,
            None,
            None,
        ],
        objects: [
            Some((0, (((0, 0)), 118.853615, Detector))),
            Some((0, (((2, 0)), 190.75362, Detector))),
            Some((0, (((3, 0)), 162.65363, Detector))),
            Some((0, (((2, 0)), 340.7536, Detector))),
            Some((0, (((3, 0)), 394.4048, Detector))),
            Some((0, (((1, 0)), 5451.743, Detector))),
            Some((0, (((3, 0)), 416.3048, Signal(Up)))),
            Some((0, (((3, 0)), 416.3048, Detector))),
            Some((0, (((2, 0)), 388.20483, Detector))),
            Some((0, (((3, 0)), 372.5047, Detector))),
            Some((0, (((2, 0)), 238.20483, Detector))),
            Some((0, (((1, 0)), 5429.84, Signal(Up)))),
            Some((0, (((1, 0)), 5429.84, Detector))),
            Some((0, (((1, 0)), 5279.584, Signal(Up)))),
            Some((0, (((1, 0)), 5279.584, Detector))),
            Some((0, (((1, 0)), 5128.203, Signal(Up)))),
            Some((0, (((1, 0)), 5128.203, Detector))),
            Some((0, (((0, 0)), 96.9536, Signal(Up)))),
            Some((0, (((0, 0)), 96.9536, Detector))),
            Some((0, (((1, 0)), 4975.4976, Signal(Up)))),
            Some((0, (((1, 0)), 4975.4976, Detector))),
            Some((0, (((1, 0)), 4821.139, Signal(Up)))),
            Some((0, (((1, 0)), 4821.139, Detector))),
            Some((0, (((1, 0)), 4666.7183, Signal(Up)))),
            Some((0, (((1, 0)), 4666.7183, Detector))),
            Some((0, (((1, 0)), 4510.6704, Signal(Up)))),
            Some((0, (((1, 0)), 4510.6704, Detector))),
            Some((0, (((1, 0)), 4354.742, Signal(Up)))),
            Some((0, (((1, 0)), 4354.742, Detector))),
            Some((0, (((1, 0)), 4196.3086, Signal(Up)))),
            Some((0, (((1, 0)), 4196.3086, Detector))),
            Some((0, (((1, 0)), 4038.1128, Signal(Up)))),
            Some((0, (((1, 0)), 4038.1128, Detector))),
            Some((0, (((1, 0)), 3876.5486, Signal(Up)))),
            Some((0, (((1, 0)), 3876.5486, Detector))),
            Some((0, (((1, 0)), 3711.6138, Signal(Up)))),
            Some((0, (((1, 0)), 3711.6138, Detector))),
            Some((0, (((1, 0)), 3548.4717, Signal(Up)))),
            Some((0, (((1, 0)), 3548.4717, Detector))),
            Some((0, (((1, 0)), 3382.004, Signal(Up)))),
            Some((0, (((1, 0)), 3382.004, Detector))),
            Some((0, (((1, 0)), 3213.1926, Signal(Up)))),
            Some((0, (((1, 0)), 3213.1926, Detector))),
            Some((0, (((1, 0)), 3046.2014, Signal(Up)))),
            Some((0, (((1, 0)), 3046.2014, Detector))),
            Some((0, (((1, 0)), 2875.6265, Signal(Up)))),
            Some((0, (((1, 0)), 2875.6265, Detector))),
            Some((0, (((1, 0)), 2697.1042, Signal(Up)))),
            Some((0, (((1, 0)), 2697.1042, Detector))),
            Some((0, (((1, 0)), 2525.3645, Signal(Up)))),
            Some((0, (((1, 0)), 2525.3645, Detector))),
            Some((0, (((1, 0)), 2338.6904, Signal(Up)))),
            Some((0, (((1, 0)), 2338.6904, Detector))),
            Some((0, (((1, 0)), 2176.0466, Signal(Up)))),
            Some((0, (((1, 0)), 2176.0466, Detector))),
            Some((0, (((1, 0)), 2013.9568, Signal(Up)))),
            Some((0, (((1, 0)), 2013.9568, Detector))),
            Some((0, (((1, 0)), 1846.9817, Signal(Up)))),
            Some((0, (((1, 0)), 1846.9817, Detector))),
            Some((0, (((1, 0)), 1692.8579, Signal(Up)))),
            Some((0, (((1, 0)), 1692.8579, Detector))),
            Some((0, (((1, 0)), 1532.6271, Signal(Up)))),
            Some((0, (((1, 0)), 1532.6271, Detector))),
            Some((0, (((1, 0)), 1365.9753, Signal(Up)))),
            Some((0, (((1, 0)), 1365.9753, Detector))),
            Some((0, (((1, 0)), 1192.5715, Signal(Up)))),
            Some((0, (((1, 0)), 1192.5715, Detector))),
            Some((0, (((1, 0)), 1012.0599, Signal(Up)))),
            Some((0, (((1, 0)), 1012.0599, Detector))),
            Some((0, (((1, 0)), 877.2151, Signal(Up)))),
            Some((0, (((1, 0)), 877.2151, Detector))),
            Some((0, (((1, 0)), 683.7886, Signal(Up)))),
            Some((0, (((1, 0)), 683.7886, Detector))),
            Some((0, (((1, 0)), 460.20483, Signal(Up)))),
            Some((0, (((1, 0)), 460.20483, Detector))),
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
        ],
    ),
    schematic: Ok((
        lines: {
            ((3, 0)): [
                (1, 0),
                (4, 0),
            ],
            ((1, 0)): [
                (4, 0),
                (5, 0),
            ],
            ((0, 0)): [
                (0, 0),
                (1, 0),
            ],
            ((2, 0)): [
                (1, 0),
                (2, 1),
                (3, 1),
                (4, 0),
            ],
        },
        points: {
            ((0, 0)): (0, 0),
            ((1, 0)): (5, 0),
            ((2, 0)): (1, 0),
            ((4, 0)): (4, 0),
        },
        pos_map: [
            (0, ((0, 0)), 0),
            (1, ((2, 0)), 140.75362),
            (4, ((4, 0)), 438.20483),
            (5, ((1, 0)), 600),
        ],
    )),
    view: (
        viewport: ((2.6085357144474983, -0.42333168536424637), 7.514477655091702),
        selection: Entity(Node(((5, 0)))),
        hot_route: None,
        selected_scenario: Usage(0, Some(0)),
        canvas_context_menu_item: None,
    ),
    interlocking: (
        derive: Some((
        )),
    ),
    scenarios: [
        Usage((
            movements: [
                (
                    vehicle_ref: 0,
                    visits: [
                        (
                            nodes: [
                                Node(((0, 0))),
                            ],
                            time: None,
                        ),
                        (
                            nodes: [
                                Node(((1, 0))),
                            ],
                            time: None,
                        ),
                    ],
                ),
                (
                    vehicle_ref: 0,
                    visits: [
                        (
                            nodes: [
                                Node(((0, 0))),
                            ],
                            time: None,
                        ),
                        (
                            nodes: [
                                Node(((1, 0))),
                            ],
                            time: None,
                        ),
                    ],
                ),
            ],
            timings: [
                (
                    visit_a: (0, 0),
                    visit_b: (1, 0),
                    time: None,
                ),
                (
                    visit_a: (1, 1),
                    visit_b: (0, 1),
                    time: None,
                ),
            ],
        ), Err("No plans found.")),
    ],
    vehicles: [
        (
            name: "New vehicle",
            length: 110,
            max_accel: 1.05,
            max_brake: 0.95,
            max_velocity: 20,
        ),
    ],
)