(
    inf: (
        tracks: [
            Some((0, (
                start_node: (((0, 0)), (
                    dir: Up,
                    course: None,
                )),
                end_node: (((2, 0)), (
                    dir: Down,
                    course: None,
                )),
            ))),
            Some((0, (
                start_node: (((4, 0)), (
                    dir: Up,
                    course: None,
                )),
                end_node: (((1, 0)), (
                    dir: Down,
                    course: None,
                )),
            ))),
            Some((0, (
                start_node: (((2, 0)), (
                    dir: Up,
                    course: Some(Left),
                )),
                end_node: (((4, 0)), (
                    dir: Down,
                    course: Some(Right),
                )),
            ))),
            Some((0, (
                start_node: (((2, 0)), (
                    dir: Up,
                    course: Some(Right),
                )),
                end_node: (((4, 0)), (
                    dir: Down,
                    course: Some(Left),
                )),
            ))),
            None,
            None,
            None,
            None,
        ],
        nodes: [
            Some((0, (0, Macro(None)))),
            Some((0, (5600, Macro(None)))),
            Some((0, (140.75362, Switch(Up, Left)))),
            None,
            Some((0, (438.20483, Switch(Down, Right)))),
            None,
            None,
            None,
        ],
        objects: [
            Some((0, (((0, 0)), 118.853615, Detector))),
            Some((0, (((2, 0)), 190.75362, Detector))),
            Some((0, (((3, 0)), 162.65363, Detector))),
            Some((0, (((2, 0)), 340.7536, Detector))),
            Some((0, (((3, 0)), 394.4048, Detector))),
            Some((0, (((1, 0)), 5382.9995, Detector))),
            Some((0, (((3, 0)), 416.3048, Signal(Up)))),
            Some((0, (((3, 0)), 416.3048, Detector))),
            Some((0, (((2, 0)), 388.20483, Detector))),
            Some((0, (((3, 0)), 372.5047, Detector))),
            Some((0, (((2, 0)), 238.20483, Detector))),
            Some((0, (((1, 0)), 5361.096, Signal(Up)))),
            Some((0, (((1, 0)), 5361.096, Detector))),
            Some((0, (((1, 0)), 5141.012, Signal(Up)))),
            Some((0, (((1, 0)), 5141.012, Detector))),
            Some((0, (((1, 0)), 4919.1904, Signal(Up)))),
            Some((0, (((1, 0)), 4919.1904, Detector))),
            Some((0, (((0, 0)), 96.9536, Signal(Up)))),
            Some((0, (((0, 0)), 96.9536, Detector))),
            Some((0, (((1, 0)), 4695.323, Signal(Up)))),
            Some((0, (((1, 0)), 4695.323, Detector))),
            Some((0, (((1, 0)), 4468.905, Signal(Up)))),
            Some((0, (((1, 0)), 4468.905, Detector))),
            Some((0, (((1, 0)), 4242.388, Signal(Up)))),
            Some((0, (((1, 0)), 4242.388, Detector))),
            Some((0, (((1, 0)), 4013.3599, Signal(Up)))),
            Some((0, (((1, 0)), 4013.3599, Detector))),
            Some((0, (((1, 0)), 3784.5176, Signal(Up)))),
            Some((0, (((1, 0)), 3784.5176, Detector))),
            Some((0, (((1, 0)), 3551.8057, Signal(Up)))),
            Some((0, (((1, 0)), 3551.8057, Detector))),
            Some((0, (((1, 0)), 3319.4614, Signal(Up)))),
            Some((0, (((1, 0)), 3319.4614, Detector))),
            Some((0, (((1, 0)), 3081.916, Signal(Up)))),
            Some((0, (((1, 0)), 3081.916, Detector))),
            Some((0, (((1, 0)), 2839.1665, Signal(Up)))),
            Some((0, (((1, 0)), 2839.1665, Detector))),
            Some((0, (((1, 0)), 2599.1843, Signal(Up)))),
            Some((0, (((1, 0)), 2599.1843, Detector))),
            Some((0, (((1, 0)), 2354.0674, Signal(Up)))),
            Some((0, (((1, 0)), 2354.0674, Detector))),
            Some((0, (((1, 0)), 2105.3325, Signal(Up)))),
            Some((0, (((1, 0)), 2105.3325, Detector))),
            Some((0, (((1, 0)), 1859.4072, Signal(Up)))),
            Some((0, (((1, 0)), 1859.4072, Detector))),
            Some((0, (((1, 0)), 1607.9481, Signal(Up)))),
            Some((0, (((1, 0)), 1607.9481, Detector))),
            Some((0, (((1, 0)), 1344.2181, Signal(Up)))),
            Some((0, (((1, 0)), 1344.2181, Detector))),
            Some((0, (((1, 0)), 1090.961, Signal(Up)))),
            Some((0, (((1, 0)), 1090.961, Detector))),
            Some((0, (((1, 0)), 814.6452, Signal(Up)))),
            Some((0, (((1, 0)), 814.6452, Detector))),
            Some((0, (((1, 0)), 521.73553, Signal(Up)))),
            Some((0, (((1, 0)), 521.73553, Detector))),
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
            None,
        ],
    ),
    schematic: Ok((
        lines: {
            ((3, 0)): [
                (1, 0),
                (4, 0),
            ],
            ((1, 0)): [
                (4, 0),
                (5, 0),
            ],
            ((2, 0)): [
                (1, 0),
                (2, 1),
                (3, 1),
                (4, 0),
            ],
            ((0, 0)): [
                (0, 0),
                (1, 0),
            ],
        },
        points: {
            ((4, 0)): (4, 0),
            ((0, 0)): (0, 0),
            ((1, 0)): (5, 0),
            ((2, 0)): (1, 0),
        },
        pos_map: [
            (0, ((0, 0)), 0),
            (1, ((2, 0)), 140.75362),
            (4, ((4, 0)), 438.20483),
            (5, ((1, 0)), 600),
        ],
    )),
    view: (
        viewport: ((2.6085357144474983, -0.42333168536424637), 7.514477655091702),
        selection: Entity(Node(((5, 0)))),
        hot_route: None,
        selected_scenario: Usage(0, Some(0)),
        canvas_context_menu_item: None,
    ),
    interlocking: (
        derive: Some((
        )),
    ),
    scenarios: [
        Usage((
            movements: [
                (
                    vehicle_ref: 0,
                    visits: [
                        (
                            nodes: [
                                Node(((0, 0))),
                            ],
                            time: None,
                        ),
                        (
                            nodes: [
                                Node(((1, 0))),
                            ],
                            time: None,
                        ),
                    ],
                ),
                (
                    vehicle_ref: 0,
                    visits: [
                        (
                            nodes: [
                                Node(((0, 0))),
                            ],
                            time: None,
                        ),
                        (
                            nodes: [
                                Node(((1, 0))),
                            ],
                            time: None,
                        ),
                    ],
                ),
            ],
            timings: [
                (
                    visit_a: (0, 0),
                    visit_b: (1, 0),
                    time: None,
                ),
                (
                    visit_a: (1, 1),
                    visit_b: (0, 1),
                    time: None,
                ),
            ],
        ), Err("No plans found.")),
    ],
    vehicles: [
        (
            name: "New vehicle",
            length: 110,
            max_accel: 1.05,
            max_brake: 0.95,
            max_velocity: 20,
        ),
    ],
)